html, body {
    background-color: #fff;
    color: #636b6f;
    font-weight: 200;
    font-family: 'tex_gyre_adventorregular', sans-serif;

    height: 100vh;
    margin: 0;
}

.pushdown {
    margin-top: 1.25em !important;
    color: #000000 !important;
    font-size: 1.10em;
}

.label-red {
    display: inline-block;
    background-color: #ec2d80;
    margin-top: 0.2em;
    color: #fff;
    line-height: 1;
    padding: 2px 8px;
    border-radius: 4px;
    font-weight: normal;
}

.new {
    color: #0a0a0a;
    border-bottom: 3px solid #ffd700;
}

.tag:not(body) {
    font-size: 0.9em !important;
}

.didot {
    font-family: 'GFS Didot', serif;
    font-weight: 400;
}

.superdidot {
    font-family: 'GFS Didot', serif !important;
    font-weight: 400;
    font-size: 2em;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.outercap {
    float: left;
    /*
    width: 48px;
    */
    height: 56px;
    margin-top: 7px;
    margin-left: 18px;
    padding-top: 20px;
    margin-right: 8px;
    text-align: center;
    background-position: 100% 100%;
    /*
    background-image: url(/images/box_white_1x1.png);
    */
}

.innercap {
    font-size: 3.5em;
    font-weight: bold;
    color: #000000;
    margin-top: -35px;
    margin-left: -18px;

}
#pass_panel_1 {
    max-height: 3.9em !important;
}

.ck.ck-reset_all {
    height: 32px !important;
}

#apostrophe {
    section {
        h3.edit_head {
            .ornament {
                width: 48px;
                vertical-align: text-bottom;
            }
        }
    }
}

#navMenu {
    margin-bottom: 2em;
}

.content_box {
    margin-top: 0.5em;
}
.content_title {
    text-transform: capitalize;
}

.attribute_list {
    line-height: 1.7em;
}

.quickview {
    padding: 0.4em;
}

.term_content {
    ul {
        margin-left: 1.25em;
        margin-top: 0.90em;
        margin-bottom: 0.90em;
    }

    li {
        list-style: square;
        line-height: 1.7em;
    }
    p {
        margin-top: 0.33em;
        margin-bottom: 0.33em;
    }
}

.article {
    .column {
        padding: 0.33rem !important;
    }
    h1 { font-size: 3em; }
    h2 { font-size: 2.5em; }
    h3 { font-size: 2.0em; }
    h4 { font-size: 1.5em; }
    h5 {
        font-size: 1.25em;
        margin-top: 0.7rem; 
    }
    h6 {
        font-size: 1.00em;
        margin-top: 0.5rem; 
    }
    .content_box {
        margin-top: 22px;
    }
}

article > * + * {
    margin-top: 1em;
}

.popup {
    margin: 12px;
    padding: 22px;
}

.imagex {

}

.card {
    min-height: 289px;
}
