// Fonts
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@font-face {
    font-family: 'tex_gyre_adventorregular';
    src: url('../fonts/texgyreadventor-regular-webfont.eot');
    src: url('../fonts/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/texgyreadventor-regular-webfont.woff') format('woff'),
    url('../fonts/texgyreadventor-regular-webfont.ttf') format('truetype'),
    url('../fonts/texgyreadventor-regular-webfont.svg#tex_gyre_adventorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GFSDidot-Regular';
    src: url('../fonts/gfs/Didot/GFSDidot-Regular.svg#GFSDidot-Regular') format('svg'),
    url('../fonts/gfs/Didot/GFSDidot-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GFSDidot';
    src: url('../fonts/gfs/Didot/GFSDidot.eot');
    src: url('../fonts/gfs/Didot/GFSDidot.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gfs/Didot/GFSDidot.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GFSBodoni-Regular';
    src: url('../fonts/gfs/Bodoni/GFSBodoni-Regular.svg#GFSBodoni-Regular') format('svg'),
    url('../fonts/gfs/Bodoni/GFSBodoni-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GFSBodoni';
    src: url('../fonts/gfs/Bodoni/GFSBodoni.eot');
    src: url('../fonts/gfs/Bodoni/GFSBodoni.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gfs/Bodoni/GFSBodoni.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

