.ck-blurred  {
  max-height: 304px;
}


#content_calendar_container {
  margin-top: 0.75em;
}
.unstyled-button {
    border: none !important;
    background: none !important;
    outline: rgba(255, 255, 255, 0.3) solid 0px !important;
}
