// Variables
@import 'variables';
@import "editor";
@import "helpers";
@import "fonts";

// $link: blue(10);
@import '../../node_modules/bulma/bulma.sass';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.small_image {
  max-width: 200px;
}

$sizes: (0,1,5, 10,15,20,25,30,50);
$positions: ('top','left','bottom','righ');

@each $size in $sizes {
    .u-m-#{$size} {
        margin: $size + px;
    }
    .u-p-#{$size} {
        padding: $size + px;
    }
}

@each $pos in $positions {
    @each $size in $sizes {
        .u-m#{$pos}-#{$size} {
            margin-#{$pos}: $size + px;
        }
        .u-p#{$pos}-#{$size} {
            padding-bottom: $size + px;
        }
    }
}

@each $size in $sizes {
    .u-mb-#{$size} {
        margin-bottom: $size + px;
    }
    .u-pb-#{$size} {
        padding-bottom: $size + px;
    }
}


.avant {
    font-family: 'tex_gyre_adventorregular', Arial, sans-serif !important;
}
.outercap{
    float:left;
    width:70px;
    height:56px;
    margin-top:0px;
    padding-top:20px;
    margin-right:8px;
    text-align:center;
    background: url(/images/box_white_1x1.png) 100% 100%;
}

.innercap {
    font-size: 3.5em;
    color: #000000;
    margin-top: -43px;
    margin-left: 7px;

}

.didot {
    font-family: 'GFS Didot', serif;
}

.bodoni {
    font-family: 'GFS Bodoni', serif;
}

.lato {
    font-family: 'Lato', sans-serif !important;
}
