html, body {
    background-color: #fff;
    color: #636b6f;
    font-weight: 200;
    font-family: 'GFS Didot', serif;

    height: 100vh;
    margin: 0;
}

p, h3 {
    margin-top: 1.25em !important;
    color: #000000 !important;
    font-size: 1.10em;
}

h5 {
    margin-top: 0.75em;
    color: #000000;
}

h4 {
    margin-top: 0.75em;
    font-size: 1.50em;
    color: #000000;
}

.label-red {
    display: inline-block;
    background-color: #ec2d80;
    margin-top: 0.2em;
    color: #fff;
    line-height: 1;
    padding: 2px 8px;
    border-radius: 4px;
    font-weight: normal;
}

.new {
    color: #0a0a0a;
    border-bottom: 3px solid #ffd700;
}

.tag:not(body) {
    font-size: 0.9em !important;
}

.didot {
    font-family: 'GFS Didot', serif;
    font-weight: 400;
}

.superdidot {
    font-family: 'GFS Didot', serif !important;
    font-weight: 400;
    font-size: 2em;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.outercap {
    float: left;
    width: 70px;
    height: 56px;
    margin-top: 0px;
    padding-top: 20px;
    margin-right: 8px;
    text-align: center;
    background-position: 100% 100%;
    background-image: url(/images/box_white_1x1.png);
}

.innercap {
    font-size: 3.5em;
    color: #000000;
    margin-top: -43px;
    margin-left: 7px;

}
#pass_panel_1 {
    max-height: 3.9em !important;
}
