.snapper {
    display: flex !important;
    margin-top: 3px !important;
    float: left;
    min-width: 100% !important;
}
.snapper .navbar {
    display: inline !important;
    text-align: left;
    min-width: 75% !important;
    float: left;
}
.snapper a {
    display: inline;
    text-align: left;
}
.snapper .navbar-end {
    display: inline !important;
    max-width: 200px !important;

}

.snappyleft {
    display: inline;
    text-align: left;
    float: left;
    max-width: 50%;
}

.snappyright {
    display: inline;
    text-align: right;
    float: right;
    max-width: 50%;
}
