<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         :width="width"
         :height="height"
         viewBox="0 0 28 28"
         :aria-labelledby="iconName"
         role="presentation"
    >
<!--
        <title :id="iconName" lang="en">{{iconName}} icon</title>
-->
    <g :fill="iconColor">
      <slot />
    </g>
  </svg>
</template>

<script>
    export default {
        props: {
            iconName: {
                type: String,
                default: 'box'
            },
            width: {
                type: [Number, String],
                default: 18
            },
            height: {
                type: [Number, String],
                default: 18
            },
            iconColor: {
                type: String,
                default: 'currentColor'
            },
            theme: {
                type: String,
                default: 'material'
            }
        }
    }
</script>
<!--

<style scoped>
    svg {
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
        display: inline-block;
        vertical-align: baseline;
        margin-bottom: -6px; /* yes, I'm that particular about formatting */ /* you just wanker */
    }
</style>
-->
