@font-face {
  font-family: 'GFSBodoni-Regular';
  src: url('GFSBodoni-Regular.svg#GFSBodoni-Regular') format('svg'),
       url('GFSBodoni-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GFSBodoni';
  src: url('GFSBodoni.eot');
  src: url('GFSBodoni.eot?#iefix') format('embedded-opentype'),
       url('GFSBodoni.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

