<template>
    <layout title="Lola">
        <div class="container">
            <div class="columns">
                <div class="column is-8">
                    <h1>Lola</h1>
                    <p >Hey there! Welcome to Lola</p>
                </div>
            </div>
            <div class="columns">
                <div class="column is-8">
                    <div class="editor" id="theEditor1">
                        <editor-menu-bubble :editor="editor" :keep-in-bounds="keepInBounds" v-slot="{ commands, isActive, menu }">
                            <div
                                class="menububble"
                                :class="{ 'is-active': menu.isActive }"
                                :style="`left: ${menu.left}px; bottom: ${menu.bottom}px;`"
                            >

                                <button
                                    class="menububble__button"
                                    :class="{ 'is-active': isActive.bold() }"
                                    @click="commands.bold"
                                >
                                    <icon-base width="20" height="20" icon-name="bold">
                                        <icon-bold></icon-bold>
                                    </icon-base>
                                </button>

                                <button
                                    class="menububble__button"
                                    :class="{ 'is-active': isActive.italic() }"
                                    @click="commands.italic"
                                >
                                    <icon-base width="20" height="20" icon-name="italic">
                                        <icon-italic></icon-italic>
                                    </icon-base>
                                </button>

                                <button
                                    class="menububble__button"
                                    :class="{ 'is-active': isActive.code() }"
                                    @click="commands.code"
                                >
                                    <icon-base width="20" height="20" icon-name="code">
                                        <icon-code></icon-code>
                                    </icon-base>
                                </button>

                            </div>
                        </editor-menu-bubble>

                        <editor-content class="editor__content" :editor="editor" />
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>
<script>
    import Layout from '@/Shared/Layout'
    import Icon from "../../components/Icon";
    import IconBase from '../../UI/IconBase';
    import IconBold from '../../UI/icons/IconBold';
    import IconCode from '../../UI/icons/IconCode';
    import IconItalic from '../../UI/icons/IconItalic';

    import { Editor, EditorContent, EditorMenuBubble } from 'tiptap';
    import {
        Blockquote,
        BulletList,
        CodeBlock,
        HardBreak,
        Heading,
        ListItem,
        OrderedList,
        TodoItem,
        TodoList,
        Bold,
        Code,
        Italic,
        Link,
        Strike,
        Underline,
        History,
    } from 'tiptap-extensions';

    export default {
        components: {
            Layout,
            EditorContent,
            EditorMenuBubble,
            Icon,
            IconBase,
            IconBold,
            IconCode,
            IconItalic,

        },
        data() {
            return {
                keepInBounds: true,
                editor: new Editor({
                    extensions: [
                        new Blockquote(),
                        new BulletList(),
                        new CodeBlock(),
                        new HardBreak(),
                        new Heading({ levels: [1, 2, 3] }),
                        new ListItem(),
                        new OrderedList(),
                        new TodoItem(),
                        new TodoList(),
                        new Link(),
                        new Bold(),
                        new Code(),
                        new Italic(),
                        new Strike(),
                        new Underline(),
                        new History(),
                    ],
                    content: `
          <h2>
            Menu Bubble
          </h2>
          <p>
            Hey, try to select some text here. There will popup a menu for selecting some inline styles. <em>Remember:</em> you have full control about content and styling of this menu.
          </p>
        `,
                }),
            }
        }
    }
</script>
