<template>

        <div class="columns">
            <div class="column is-12">
                <div class="editor">
                    <editor-menu-bubble :editor="editor" :keep-in-bounds="keepInBounds" v-slot="{ commands, isActive, menu }">
                        <div
                            class="menububble"
                            :class="{ 'is-active': menu.isActive }"
                            :style="`left: ${menu.left}px; bottom: ${menu.bottom}px;`"
                        >

                            <button
                                class="menububble__button"
                                :class="{ 'is-active': isActive.bold() }"
                                @click="commands.bold"
                            >
                                <icon-base width="20" height="20" icon-name="bold">
                                    <icon-bold></icon-bold>
                                </icon-base>
                            </button>

                            <button
                                class="menububble__button"
                                :class="{ 'is-active': isActive.italic() }"
                                @click="commands.italic"
                            >
                                <icon-base width="20" height="20" icon-name="italic">
                                    <icon-italic></icon-italic>
                                </icon-base>
                            </button>

                            <button
                                class="menububble__button"
                                :class="{ 'is-active': isActive.code() }"
                                @click="commands.code"
                            >
                                <icon-base width="20" height="20" icon-name="code">
                                    <icon-code></icon-code>
                                </icon-base>
                            </button>

                        </div>
                    </editor-menu-bubble>

                    <editor-content class="editor__content" :editor="editor" />
                </div>
            </div>
        </div>

</template>

<script>
    import Icon from "../components/Icon";
    import IconBase from '../UI/IconBase';
    import IconBold from '../UI/icons/IconBold';
    import IconCode from '../UI/icons/IconCode';
    import IconItalic from '../UI/icons/IconItalic';

    import { Editor, EditorContent, EditorMenuBubble } from 'tiptap';
    import {
        Blockquote,
        BulletList,
        CodeBlock,
        HardBreak,
        Heading,
        ListItem,
        OrderedList,
        TodoItem,
        TodoList,
        Bold,
        Code,
        Italic,
        Link,
        Strike,
        Underline,
        History,
    } from 'tiptap-extensions';

    export default {
        components: {
            EditorContent,
            EditorMenuBubble,
            Icon,
            IconBase,
            IconBold,
            IconCode,
            IconItalic,

        },
        props: {
            doc: {
                required: false,
                default: function () {
                    return {}
                },
                type: Object,
            },
            store: {
                required: false,
                default: function () {
                    return {}
                },
                type: Object,
            },
            content_html: {
                required: false,
                type: String,
            }
        },
        computed: {
            computedDoc: {
                get: function () {
                    return this.content_html
                },
                set: function (value) {
                    this.$emit('update:content_html', value);
                    // console.log(value);
                    // this.$store.commit('updateValue', value)
                }
            }
        },
        watch: {
            content_html: {
                handler: function (one, two) {
                    this.$emit('update:content_html', []);
                },
                deep: true
            },
        },
        mounted() {
            this.editor.setContent(this.computedDoc);
        },
        data() {
            return {
                keepInBounds: true,
                editor: new Editor({
                    extensions: [
                        new Blockquote(),
                        new BulletList(),
                        new CodeBlock(),
                        new HardBreak(),
                        new Heading({ levels: [1, 2, 3] }),
                        new ListItem(),
                        new OrderedList(),
                        new TodoItem(),
                        new TodoList(),
                        new Link(),
                        new Bold(),
                        new Code(),
                        new Italic(),
                        new Strike(),
                        new Underline(),
                        new History(),
                    ],
                    content: this.computedDoc,
                }),
            }
        }
    }
</script>
