<template>
        <div class="columns">
            <div class="column is-12">
                <div class="editor" id="theEditor">
                    <editor-menu-bubble class="menububble" :editor="editor" @hide="hideLinkMenu" v-slot="{ commands, isActive, getMarkAttrs, menu }">
                        <div
                            class="menububble"
                            :class="{ 'is-active': menu.isActive }"
                            :style="`left: ${menu.left}px; bottom: ${menu.bottom}px;`"
                        >
                            <form class="menububble__form" v-if="linkMenuIsActive" @submit.prevent="setLinkUrl(commands.link, linkUrl)">
                                <input class="menububble__input" type="text" v-model="linkUrl" placeholder="https://" ref="linkInput" @keydown.esc="hideLinkMenu"/>
                                <button class="menububble__button" @click="setLinkUrl(commands.link, null)" type="button">
                                    <icon-base width="24" height="24" icon-name="iconremove" icon-color="white">
                                        <icon-remove></icon-remove>
                                    </icon-base>

                                </button>
                            </form>
                        </div>
                    </editor-menu-bubble>

                    <editor-menu-bar :editor="editor" @hide="hideLinkMenu"  v-slot="{ commands, isActive,  getMarkAttrs, menu }">
                        <div class="menubar" id="thebar">
                            <button class="menubar__button"
                                    :class="{ 'is-active': isActive.bold() }"
                                    @click="commands.bold">
                                <icon-base width="20" height="20" icon-name="bold">
                                    <icon-bold></icon-bold>
                                </icon-base>
                            </button>
                            <button class="menubar__button"
                                    :class="{ 'is-active': isActive.italic() }"
                                    @click="commands.italic">
                                <icon-base width="20" height="20" icon-name="italic">
                                    <icon-italic></icon-italic>
                                </icon-base>
                            </button>
                            <button class="menubar__button"
                                    :class="{ 'is-active': isActive.strike() }"
                                    @click="commands.strike">
                                <icon-base width="20" height="20" icon-name="strike">
                                    <icon-strike></icon-strike>
                                </icon-base>
                            </button>
                            <button class="menubar__button"
                                    :class="{ 'is-active': isActive.underline() }"
                                    @click="commands.underline">
                                <icon-base width="20" height="20" icon-name="underline">
                                    <icon-underline></icon-underline>
                                </icon-base>
                            </button>
                            <button class="menubar__button"
                                    :class="{ 'is-active': isActive.code() }"
                                    @click="commands.code">
                                <icon-base width="20" height="20" icon-name="code">
                                    <icon-code></icon-code>
                                </icon-base>
                            </button>
                            <button class="menubar__button"
                                    :class="{ 'is-active': isActive.paragraph() }"
                                    @click="commands.paragraph">
                                <icon-base width="20" height="20" icon-name="paragraph">
                                    <icon-paragraph></icon-paragraph>
                                </icon-base>
                            </button>
                            <button class="menubar__button"
                                    :class="{ 'is-active': isActive.heading({ level: 1 }) }"
                                    @click="commands.heading({ level: 1 })">
                                <icon-base width="20" height="20" icon-name="h1">
                                    <icon-h1></icon-h1>
                                </icon-base>
                            </button>
                            <button
                                class="menubar__button"
                                :class="{ 'is-active': isActive.heading({ level: 2 }) }"
                                @click="commands.heading({ level: 2 })"
                            >
                                <icon-base width="20" height="20" icon-name="h2">
                                    <icon-h2></icon-h2>
                                </icon-base>
                            </button>
                            <button
                                class="menubar__button"
                                :class="{ 'is-active': isActive.heading({ level: 3 }) }"
                                @click="commands.heading({ level: 3 })"
                            >
                                <icon-base width="20" height="20" icon-name="h3">
                                    <icon-h3></icon-h3>
                                </icon-base>
                            </button>
                            <button
                                class="menubar__button"
                                :class="{ 'is-active': isActive.heading({ level: 4 }) }"
                                @click="commands.heading({ level: 4 })"
                            >
                                <icon-base width="20" height="20" icon-name="h4">
                                    <icon-h4></icon-h4>
                                </icon-base>
                            </button>
                            <button
                                class="menubar__button"
                                :class="{ 'is-active': isActive.bullet_list() }"
                                @click="commands.bullet_list"
                            >
                                <icon-base width="20" height="20" icon-name="ul">
                                    <icon-ul></icon-ul>
                                </icon-base>
                            </button>
                            <button
                                class="menubar__button"
                                :class="{ 'is-active': isActive.ordered_list() }"
                                @click="commands.ordered_list"
                            >
                                <icon-base width="20" height="20" icon-name="ol">
                                    <icon-ol></icon-ol>
                                </icon-base>
                            </button>
                            <button
                                class="menubar__button"
                                :class="{ 'is-active': isActive.blockquote() }"
                                @click="commands.blockquote"
                            >
                                <icon-base width="20" height="20" icon-name="quote">
                                    <icon-quote></icon-quote>
                                </icon-base>
                            </button>
                            <button
                                class="menubar__button"
                                :class="{ 'is-active': isActive.customstyle({ level: 'dropcap' }) }"
                                @click="commands.customstyle({ level: 'dropcap' })"
                            >
                                <icon-base width="24" height="24" icon-name="dropcap">
                                    <icon-dropcap></icon-dropcap>
                                </icon-base>
                            </button>
                            <button
                                class="menubar__button"
                                @click="showLinkMenu(getMarkAttrs('link'))"
                                :class="{ 'is-active': isActive.link() }"
                            >
                                <icon-base width="24" height="24" icon-name="iconlink">
                                    <icon-link></icon-link>
                                </icon-base>
                            </button>
                            <button
                                class="menubar__button"
                                @click="fileMan('image')"
                                :class="{ 'is-active': isActive.link() }"
                            >
                                <icon-base width="24" height="24" icon-name="iconimage">
                                    <icon-image></icon-image>
                                </icon-base>
                            </button>

                            <button
                                class="menubar__button"
                                @click="quickview()"
                            >
                                <icon-base width="24" height="24" icon-name="settings">
                                    <icon-settings></icon-settings>
                                </icon-base>
                            </button>
                            <button
                                class="menubar__button"
                                @click="fullscreen"
                            >
                                <icon-base width="24" height="24" icon-name="fullscreen">
                                    <icon-full-screen></icon-full-screen>
                                </icon-base>
                            </button>
                        </div>
                    </editor-menu-bar>
                    <editor-content
                        class="editor__content"
                        id="editor__content"
                        :editor="editor"
                    />
                </div>
                <quick-view />
            </div>
        </div>

</template>

<script>
    import {Editor, EditorContent, EditorMenuBar, EditorMenuBubble} from 'tiptap';
    import CustomStyle from "./CustomStyle";
    import Icon from './Icon';
    import IconBase from '../UI/IconBase';
    import IconBold from '../UI/icons/IconBold';
    import IconCalendar from '../UI/icons/IconCalendar';
    import IconCode from '../UI/icons/IconCode';
    import IconDropcap from "../UI/icons/IconDropcap";
    import IconEnvelope from '../UI/icons/IconEnvelope';
    import IconFullScreen from "../UI/icons/IconFullScreen";
    import IconH1 from '../UI/icons/IconH1';
    import IconH2 from '../UI/icons/IconH2';
    import IconH3 from '../UI/icons/IconH3';
    import IconH4 from '../UI/icons/IconH4';
    import IconImage from '../UI/icons/IconImage';
    import IconItalic from '../UI/icons/IconItalic';
    import IconLink from "../UI/icons/IconLink";
    import IconOl from '../UI/icons/IconOl';
    import IconParagraph from '../UI/icons/IconParagraph';
    import IconQuote from '../UI/icons/IconQuote';
    import IconRemove from "../UI/icons/IconRemove";
    import IconSettings from "../UI/icons/IconSettings";
    import IconStrike from '../UI/icons/IconStrike';
    import IconUl from '../UI/icons/IconUl';
    import IconWrite from '../UI/icons/IconWrite';
    import IconUnderline from '../UI/icons/IconUnderline';
    import QuickView from "../Shared/QuickView";

    import {
        Blockquote,
        Bold,
        BulletList,
        Code,
        CodeBlock,
        HardBreak,
        Heading,
        History,
        HorizontalRule,
        Image,
        Italic,
        Link,
        ListItem,
        OrderedList,
        Strike,
        TodoItem,
        TodoList,
        Underline
    } from 'tiptap-extensions';

    export default {
        components: {
            QuickView,
            EditorContent,
            EditorMenuBar,
            EditorMenuBubble,
            Icon,
            IconBase,
            IconBold,
            IconCalendar,
            IconCode,
            IconDropcap,
            IconEnvelope,
            IconFullScreen,
            IconH1,
            IconH2,
            IconH3,
            IconH4,
            IconImage,
            IconItalic,
            IconLink,
            IconOl,
            IconParagraph,
            IconQuote,
            IconRemove,
            IconSettings,
            IconStrike,
            IconUl,
            IconUnderline,
            IconWrite
        },
        created() {
        },
        mounted() {
            console.log('Component mounted.');
            // this.wcomputedDoc = this.content_html;
            this.editor.setContent(this.computedDoc);

            this.editor.on('update', ({getHTML}) => {
                this.computedDoc = getHTML();
                // console.log(newContent);
            });

            $('.menubar__button').on('click').click(function () {
                    return false
                }
            )
        },
        props: {
            doc: {
                required: false,
                default: function () {
                    return {}
                },
                type: Object,
            },
            store: {
                required: false,
                default: function () {
                    return {}
                },
                type: Object,
            },
            content_html: {
                required: false,
                type: String,
            }
        },
        computed: {
            computedDoc: {
                get: function () {
                    console.log("getter called")
                    return this.content_html
                },
                set: function (value) {
                    this.$emit('update:content_html', value);
                    // console.log(value);
                    // this.$store.commit('updateValue', value)
                }
            }
        },
        watch: {
            content_html: {
                handler: function (one, two) {
                    this.$emit('update:content_html', []);
                },
                deep: true
            },
        },
        methods: {
            coordsAtPos(xy) {
                // let offset = $('#thebar').offset();
                let top = $(window).scrollTop();

                console.log(top);

                let {from, to} = this.editor.state.selection;
                let view = this.editor.view;

                // These are in screen coordinates
                let start = view.coordsAtPos(from), end = view.coordsAtPos(to)

                let ret = {x: start.x+74, y: end.y-(top+300)};
                return ret;
            },
            onUpdate({getJSON}) {
                this.$emit('update:content_html', getJSON());
            },
            fileMan(mime) {
                this.$inertia.visit('/fileman', {
                    method: 'get',
                    data: {},
                    replace: false,
                    preserveState: false,
                    preserveScroll: false,
                    only: [],
                });
            },
            quickview() {
                if (!$('#quickviewDefault').hasClass('is-active')) {
                    $('#quickviewDefault').addClass('is-active')
                } else {
                    $('#quickviewDefault').removeClass('is-active');
                }
            },
            quickviewKill() {
                $('#quickviewDefault').removeClass('is-active');
            },
            fullscreen() {
                console.log('test...');
                // content_edit_container
                // theEditor
                if (
                    document.fullscreenElement ||
                    document.webkitFullscreenElement ||
                    document.mozFullScreenElement ||
                    document.msFullscreenElement
                ) {
                    if (document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if (document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if (document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    } else if (document.msExitFullscreen) {
                        document.msExitFullscreen();
                    }
                    console.log('Exiting fullscreen...');
                    $('.ProseMirror').css({'height': 350+'px'});
                    $('.ProseMirror').height(350);
                    $('#editor__content').css({'height': 350+'px'});
                } else {
                    let element = $('#theEditor').get(0);
                    $(element).css('background-color', 'white');
                    let vph = window.screen.height;
                    console.log(vph+'px');
                    $('.ProseMirror').css({'height': vph+'px'});

                    if (element.requestFullscreen) {
                        element.requestFullscreen();
                    } else if (element.mozRequestFullScreen) {
                        element.mozRequestFullScreen();
                    } else if (element.webkitRequestFullscreen) {
                        element.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                    } else if (element.msRequestFullscreen) {
                        element.msRequestFullscreen();
                    }
                }
            },
            showLinkMenu(attrs) {
                this.linkUrl = attrs.href
                this.linkMenuIsActive = true
                this.$nextTick(() => {
                    this.$refs.linkInput.focus()
                })
            },
            hideLinkMenu() {
                this.linkUrl = null
                this.linkMenuIsActive = false
            },
            setLinkUrl(command, url) {
                command({ href: url })
                this.hideLinkMenu()
            },
        },
        data() {
            return {
                editor: new Editor({
                    extensions: [
                        new Blockquote(),
                        new BulletList(),
                        new CodeBlock(),
                        new HardBreak(),
                        new Heading({ levels: [1, 2, 3, 4] }),
                        new Image(),
                        new HorizontalRule(),
                        new ListItem(),
                        new OrderedList(),
                        new TodoItem(),
                        new TodoList(),
                        new Link(),
                        new Bold(),
                        new Code(),
                        new Italic(),
                        new Strike(),
                        new Underline(),
                        new History(),
                        new CustomStyle()
                    ],
                    content: this.computedDoc,
                    onDrop: (view, event, slice, moved) => {
                        console.log('on drop...');
/*
                        console.log("New content was added from the user's clipboard!");
                        console.log(view, event, slice, moved);
*/
                    },
                    onBlur: ({ event,  state, view }) => {
                    },
                    onPaste: () => {
                        console.log(`New content was added from the user's clipboard!`)
                    }
                }),
                linkUrl: null,
                linkMenuIsActive: false,


            }
        },
        beforeDestroy() {
            // Always destroy your editor instance when it's no longer needed
            this.editor.destroy();
        },
    }
</script>
