@font-face {
  font-family: 'GFSDidot-Regular';
  src: url('GFSDidot-Regular.svg#GFSDidot-Regular') format('svg'),
       url('GFSDidot-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GFSDidot';
  src: url('GFSDidot.eot');
  src: url('GFSDidot.eot?#iefix') format('embedded-opentype'),
       url('GFSDidot.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

