<template>
    <layout title="Fileman">
        <div>
            <h1 class="title is-3">Fileman</h1>
            <div class="columns">
                <div class="column is-one-quarter-desktop is-half-tablet ">
                    <a href="#">S3</a> / <a href="#">assets</a>
                </div>
            </div>
            <drop class="drop" @drop="handleDrop">
                <div class="columns" v-for="i in Math.ceil(items.length / 4)">
                    <div class="column is-one-quarter-desktop is-half-tablet "
                         v-for="rs in items.slice((i - 1) * 4, i * 4)"
                    >
                        <div class="x">
                            <div class="card-image">
                                <template v-if="isImage(rs)">
                                    <figure class="imagex">
                                        <a href="#" @click="detectClick(rs, $event)">
                                            <img v-bind:src="getPreview(rs)"
                                                 style="max-height: 180px;"
                                                 :alt="rs.type+': '+rs.name"
                                            >
                                        </a>
                                    </figure>
                                </template>
                                <template v-else>
                                    <figure class="imagex" style="margin-left: 20%;">
                                        <a href="#" @click="selectResource(rs, $event)">
                                            <img v-bind:src="rs.icon"
                                                 :alt="rs.type+': '+rs.name"
                                                 style="max-width: 140px; "
                                            >
                                        </a>
                                    </figure>
                                </template>
                                <div class="card-content" style="text-align: center; text-transform: capitalize; min-height: 96px;" >
                                    {{rs.type}} {{rs.size > 0 ? rs.size+' bytes' : ''}}<br/> {{rs.mime}}
                                    <!--                              <span class="tag is-info">
                                                                        {{rs.name}}
                                                                  </span>
                                    -->
                                </div>
                            </div>
                            <footer class="card-footer">
                                <!--                            <a :href="getPreview(rs)">preview</a>-->
                                <a class="card-footer-item">
                                    {{rs.name}}
                                </a>
                            </footer>
                        </div>
                    </div>
                </div>
            </drop>
            <div style="display: none">
                <input type="file" id="file_01">
            </div>
        </div>
    </layout>
</template>

<script>
    import Layout from '@/Shared/LayoutModal'
    import { Drag, Drop } from 'vue-drag-drop';
    
    export default {
        components: {
            Layout,
            Drag,
            Drop
        },
        props: {
            resources: Array,
            struct: Array
        },
        remember: 'form',
        data() {
            return {
                sending: false,
                items : this.resources,
                form: {
                    preview: true,
                    permanentDelete: false
                },
                numClicks: 0,
                msg: ''
            }
        },
        methods: {
            detectClick(rs, e) {
                console.log('capture click...;')
                this.numClicks++;
                if (this.numClicks === 1) {          // the first click in .2s
                    let self = this;
                    setTimeout(function () {
                        switch (self.numClicks) {     // check the event type
                            case 1:
                                self.msg = 'One click';
                                break;
                            default:
                                self.msg = 'Double click';
                        }
                        self.numClicks = 0;               // reset the first click
                    }, 200);
                }
            },
            getPreview(rs) {
                return '/imgsrv/480/320/300/srgb'+rs.preview;
            },
            isImage(rs) {
                if (rs.hasOwnProperty('mime')) {
                    if (rs.mime.indexOf('image')===0) {
                        return true;
                    }
                }
                return false;
            },
            selectResource(rs, e) {
                console.log(rs);
                if (rs.type === 'dir') {
                    this.$inertia.visit('/fileman?dir='+rs.path+'/'+rs.name+'&disk='+rs.disk+'&modal=open', {
                        method: 'get',
                        data: {},
                        replace: false,
                        preserveState: false,
                        preserveScroll: false,
                        only: [],
                    });

                }
                e.stopPropagation();
            },
            handleDrop(data, event) {
                event.preventDefault();
                const files = event.dataTransfer.files;
                const filenames = [];
                for (let i = 0; i < files.length; i++) {
                    filenames.push(files.item(i).name);
                }
                alert(`You dropped files: ${JSON.stringify(filenames)}`);
            },            
        },
        beforeMount() {
            console.log('VORTEX: ');
//            console.log(JSON.parse(this.struct));
            for (let i = 0; i < this.struct.length; i++) {
                this.items[i] = JSON.parse(this.struct[i]);
            }
            console.log(this.items);
        },
    }
</script>
