<template>
    <path d="M16 3H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm-1.382 2L9 8.831 3.382 5h11.236zM15 12.5a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5V7.137l5.497 3.723a.976.976 0 0 0 1.006 0L15 7.137V12.5z"/>
</template>
<script>
    export default {

    }
</script>
