<template>
     <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-family="NeutrifStudio-Regular, Neutrif Studio" font-size="21" font-weight="normal">
            <text id="H2" fill="#0E0D0D">
                <tspan x="-1.125" y="20">H2</tspan>
            </text>
        </g>
</template>
