<template>
    <g>
        <path d="M17 1H1a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zm-1 13.5a.5.5 0 0 1-.5.5H7.402l5.602-5.602L16 12.394V14.5zm0-4.894l-2.17-2.17a.989.989 0 0 0-.832-.435.983.983 0 0 0-.817.418l-7.582 7.582H2.501a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H15.5a.5.5 0 0 1 .5.5v6.106z"/>
        <path d="M6 5a2 2 0 1 0-.001 3.999A2 2 0 0 0 6 5z"/>
    </g>
</template>
