<template>
    <g>
        <path d="M17 5h-4V2a1 1 0 0 0-1-1H6a1 1 0 0 0-1 1v3H1a1 1 0 0 0-1 1v1h2v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7h2V6a1 1 0 0 0-1-1zM7 3h4v2H7V3zm7 12H4V7h10v8z"/>
        <path d="M6.5 13h1a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5zM10.5 13h1a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5z"/>
    </g>
</template>
