<template>
    <layout title="Edit">
        <div class="container" id="apostrophe">
            <section class="section">
                <h4 class="is-size-4 u-mb-10 edit_head">
                    Create term
                </h4>
                <form @submit.prevent="submit" method="post">
                    <div class="field is-expanded distraction">
                        <label class="label">Name</label>
                        <div class="control">
                            <input
                                class="input subtitle is-info didot"
                                name="expression"
                                v-model="form.expression"
                                type="text"
                                onkeydown="$('#help_expression').text('')"
                                placeholder="Term.." hidden
                            />
                        </div>
                    </div>
                    <!-- main text editor -->
                    <div class="field main_editor"
                         id="mother"
                    >
                        <label class="label">Definitio</label>
                        <div
                            class="control editor_trimmed didot"
                            id="content_edit_container"
                            style="border: solid 1px #209cee;"
                        >
                            <editor-component
                                v-bind:content_html="term.content_html"
                                v-on:update:content_html="doTheThing($event)"
                            >
                            </editor-component>
                        </div>
                    </div>
                <!------------------------------ actions ------------------------------------>
                <div class="field u-mtop-25">
                    <button type="submit" class="button is-success">
                        Update
                    </button>
                    <input
                        class="is-checkradio is-inline pull-left"
                        id="goPreview"
                        type="checkbox"
                        name="goPreview"
                        v-model="form.preview"
                        value="preview"
                    />
                    <label for="goPreview">Go to term</label>
                </div>
                <div class="is-hidden" style="display: none;">
                    <input
                        class="is-hidden"
                        type="hidden"
                        name="content_html"
                        id="content_html"
                        v-model="term.content_html"
                    />
                </div>
                </form>
            </section>
        </div>
    </layout>
</template>
<script>
    import Layout from '@/Shared/Layout';
    import EditorComponent from "../../components/EditorComponent";
    export default {
        name: 'Edit',
        components: {
            Layout,
            EditorComponent
        },
        props: {
            term: Object,
        },
        remember: 'form',
        data() {
            return {
                sending: false,
                form: {
                    expression: this.term.expression,
                    content_html: this.term.content_html,
                    preview: true
                },
            }
        },
        methods: {
            submit() {
                console.log('Creating...........')
                this.sending = true;
                this.$inertia.post(this.route('terms.store'), this.form)
                    .then(() => this.sending = false);
            },
            destroy() {
                if (confirm('Are you sure you want to delete this contact?')) {
                    this.$inertia.delete(this.route('terms.destroy', this.term.id));
                }
            },
            restore() {
                if (confirm('Are you sure you want to restore this contact?')) {
                    this.$inertia.put(this.route('terms.restore', this.term.id));
                }
            },
            doTheThing (e) {
                // this.featured.       description.newNode = value;
                // console.log('Taratata comes exactly with:  ');
                this.form.content_html = e;
                // console.log(e);
            }
        },
        computed: {
            // a computed getter
            computedDoc: function () {
                // `this` points to the vm instance
                return this.term.content_html;
            }
        },
        watch: {
            term: {
                handler: function (one, two) {
                    //  this.$emit('update:doc', doc);
                    console.log('Some serious kanga,...');
                },
                deep: true
            },
        },
        mounted() {
            console.log('Edit mounted.');
        },
    }
</script>
