<template>
    <layout title="Edit">
        <div class="kontainer" id="apostrophe">
            <section class="section">
                <h4 class="is-size-4 u-mb-10 edit_head">
                    Edit term
                </h4>
                <form @submit.prevent="submit" method="post">
                    <input type="hidden" name="_method" value="put" />
                    <div class="field is-expanded distraction">
                        <label class="label">Term</label>
                        <div class="control">
                            <input
                                class="input subtitle is-info didot"
                                name="expression"
                                v-model="form.expression"
                                type="text"
                                onkeydown="$('#help_expression').text('')"
                                placeholder="Term.." hidden
                            />
                        </div>
                    </div>
                    <!-- main text editor -->
                    <div class="field main_editor"
                         id="mother"
                    >
                        <label class="label">Definitio</label>
                        <div
                            class="control editor_trimmed didot"
                            id="content_edit_container"
                            style="border: solid 1px #209cee;"
                        >
                            <editor-component
                                v-bind:content_html="term.content_html"
                                v-on:update:content_html="doTheThing($event)"
                            >
                            </editor-component>
                        </div>
                    </div>
                    <!------------------------------ actions ------------------------------------>
                    <div class="field u-mtop-25">
                        <button type="submit" class="button is-success">
                            Update
                        </button>
                        <input
                            class="is-checkradio is-inline pull-left"
                            id="goPreview"
                            type="checkbox"
                            name="goPreview"
                            v-model="form.preview"
                            value="preview"
                        />
                        <label for="goPreview">Go to term</label>
                        <template v-if="term.deleted_at == null">
                            <button
                                type="button"
                                @click="doDelete()"
                                class="button is-danger is-pulled-right">
                                Delete
                            </button>
                            <input
                                class="is-checkradio"
                                id="permanentDeleteSwitch"
                                type="checkbox"
                                v-model="form.permanentDelete"
                                name="permanentDeleteSwitch"
                                value="permanentDeleteSwitch"
                            />
                            <label for="permanentDeleteSwitch" class="is-pulled-right">Permanent</label>
                        </template>
                        <template v-else>
                            <button type="submit" class="button is-warning is-pulled-right">
                                Undelete
                            </button>
                        </template>
                    </div>
                    <a href="#comments">Go to comments</a>
                    <div class="is-hidden" style="display: none;">
                        <input
                            class="is-hidden"
                            type="hidden"
                            name="content_html"
                            id="content_html"
                            v-model="term.content_html"
                        />
                    </div>
                </form>
            </section>
            <section class="section">
                <h4 class="is-size-5">
                    <a id="comments"></a>Comments
                </h4>
                <div class="u-mtop-20" v-for="comment in term.definitions">
                    <h3 class="subtitle">{{ comment.heading }}</h3>
                    <div class="comment_box">
                        <bubble-editor-component
                            v-bind:content_html="comment.content_html"
                        >
                        </bubble-editor-component>
                    </div>
                    <div class="comment_meta u-mtop-20">
                        {{comment.author}}
                    </div>
                </div>
            </section>
        </div>
    </layout>
</template>
<script>
    import Layout from '@/Shared/Layout';
    import EditorComponent from "../../components/EditorComponent";
    import BubbleEditorComponent from "../../components/BubbleEditorComponent";
    export default {
        name: 'Edit',
        components: {
            BubbleEditorComponent,
            Layout,
            EditorComponent
        },
        props: {
            term: Object,
        },
        remember: 'form',
        data() {
            return {
                sending: false,
                form: {
                    expression: this.term.expression,
                    content_html: this.term.content_html,
                    preview: true,
                    permanentDelete: false
                },
            }
        },
        methods: {
            doDelete() {
                // this.$inertia.delete(this.route('contacts.destroy', this.contact.id))
                this.$inertia.delete(this.route('terms.destroy', this.term.id)+'?permanent='+this.form.permanentDelete)
                    .then((response) => {
                        console.log(response);
                        console.log('deleted?');
                        this.sending = false;
                    });

            },
            quickview() {
                $('#quickviewDefault').addClass('is-active');
            },
            quickviewKill() {
                $('#quickviewDefault').removeClass('is-active');
            },
            submit() {
                console.log('Creating...........');
                this.sending = true;
                // this.$inertia.put(this.route('contacts.update', this.contact.id), this.form)
                this.$inertia.put(this.route('terms.update', this.term.id), this.form)
                    .then((response) => {
                        console.log(response);
                        console.log('paraga');
                        this.sending = false;
                    });
            },
            destroy() {
                if (confirm('Are you sure you want to delete this contact?')) {
                    this.$inertia.delete(this.route('terms.destroy', this.term.id));
                }
            },
            restore() {
                if (confirm('Are you sure you want to restore this contact?')) {
                    this.$inertia.put(this.route('terms.restore', this.term.id));
                }
            },
            doTheThing (e) {
                // this.featured.       description.newNode = value;
                // console.log('Taratata comes exactly with:  ');
                this.form.content_html = e;
                // console.log(e);
            }
        },
        computed: {
            // a computed getter
            computedDoc: function () {
                // `this` points to the vm instance
                return this.term.content_html;
            }
        },
        watch: {
            term: {
                handler: function (one, two) {
                    //  this.$emit('update:doc', doc);
                    console.log('Some serious kanga,...');
                },
                deep: true
            },
        },
        mounted() {
            console.log('Edit mounted.');
        },
    }
    document.addEventListener("fullscreenchange", onFullScreenChange, false);
    document.addEventListener("webkitfullscreenchange", onFullScreenChange, false);
    document.addEventListener("mozfullscreenchange", onFullScreenChange, false);
    function onFullScreenChange() {
        console.log('onFullScreenChange');
        let fullscreenElement = document.fullscreenElement || document.mozFullScreenElement || document.webkitFullscreenElement;
        // if in fullscreen mode fullscreenElement won't be null
        if (fullscreenElement!=null) {
        } else{
            $('.ProseMirror').css({'height': 350 + 'px'});
        }
    }
</script>
