<template>
    <div id="stage" class="popup">
        <slot />
    </div>
</template>

<script>
    export default {
        components: {
        },
        mounted() {
            console.log('Layout mounted.');
            console.log(this.$page);
        },
        props: {
            title: String,
        },
        data() {
            return {

            }
        },
        watch: {
            title: {
                immediate: true,
                handler(title) {
                    document.title = title ? `${title} | definitio` : 'definitio'
                },
            },
        },
        methods: {
        },
    }
</script>
