<template>
    <div id="stage">
        <main-menu />
        <slot />

    </div>
</template>

<script>
    import MainMenu from '@/Shared/MainMenu'
    export default {
        components: {
            MainMenu,
        },
        mounted() {
            console.log('Layout mounted.');
            console.log(this.$page);
        },
        props: {
            title: String,
        },
        data() {
            return {

            }
        },
        watch: {
            title: {
                immediate: true,
                handler(title) {
                    document.title = title ? `${title} | definitio` : 'definitio'
                },
            },
        },
        methods: {
            hideDropdownMenus() {
                this.showUserMenu = false
            },
        },
    }
</script>
