<template>
    <nav class="navbar has-shadow">
        <div class="container">
            <div class="navbar-brand">
                <div class="navbar-burger burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class="navbar-menu" id="navMenu">
                    <template v-if="this.$page.auth" style="min-width: 600px; ">
                        <a href="#" class="navbar-item">
                            <i style="margin-top: 7px;" class="fas fa-cogs fa-lg"></i>
                        </a>
                        <a :href="route('logout')" class="navbar-item">Logout</a>
                        <a :href="route('terms')" class="navbar-item">Terms</a>
                        <a :href="route('tags')" class="navbar-item">Tags</a>
                    </template>
                    <template v-else>
                        <a class="navbar-item " href="">Login</a>
                        <a class="navbar-item " href="">Suggest</a>
                        <a class="navbar-item " href="">Join</a>
                    </template>
                    <a :href="route('about-us')" class="navbar-item">About</a>
                    <a :href="route('privacy')" class="navbar-item">Privacy</a>

                <div class="navbar-end">
                    <a href="/" class="navbar-item">
                        <img src="/img/definitio_logo.png">
                    </a>

                </div>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "MainMenu"
    }
</script>
