<template>
    <div id="quickviewDefault" class="quickview">
        <header class="quickview-header">
            <p class="title">Attributes</p>
            <span @click="quickviewKill()" class="delete" data-dismiss="quickview"></span>
        </header>
        <div class="quickview-body u-mtop-25">
            <div class="quickview-block">
                <ul class="attribute_list">
                    <li>Created on <b>{{fmtDate(this.$page.term.created_at)}}</b></li>
                    <li>Published on <b>{{fmtDate(this.$page.term.published_at)}}</b></li>
                    <li>Number of words: <b>{{this.$page.term.word_count}}</b> </li>
                    <li>Comments: <b>{{this.$page.term.comment_count}}</b></li>
                    <template v-if="this.$page.term.user != null">
                        <li>Author: <b>{{this.$page.term.user.name}}</b></li>
                    </template>
                    <template v-else>
                        <li>Author: <b>{{this.$page.auth.user.name}}</b></li>
                    </template>
                </ul>
            </div>
        </div>
        <footer class="quickview-footer">

        </footer>
    </div>
</template>

<script>
    export default {
        name: "QuickView",
        methods: {
            fmtDate(dtString) {
                if (dtString == null || dtString!=='') {
                    return 'No date';
                }
                let dt = new Date(dtString);
                let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                return dt.toLocaleDateString("en-UK", options);
            }
        }
    }
</script>
